.form {
  position: relative;
  font-size:  14px;
  font-weight: 500;
  line-height: 1.29;
  color: black;
  margin-bottom: 32px;
}

.label {
  display: block;
  margin-bottom:  8px;
}
.customSelect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width:  226px;
  padding: 14px 18px;
  border: none;
  border-radius:  14px;
  background-color: gray;
  font-size:  16px;
  font-weight: 500;
  line-height: 1.25;
  color: black;
}

.optionsList {
  position: absolute;
  max-width:  226px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: start;
  padding:  14px 18px;
    
 
  background-color: gray;
  z-index: 100;
}
.option {
  font-size:  16px;
  font-weight: 400;
  line-height: 1.25;
  border: none;
}

.active {
  color: white;
}

.option:hover,
.option:focus {
  color: white;
  background-color: black;
}
.arrow {
  width: clamp(calc(0.22 * 15px), 1.5rem, 15px);
  height: clamp(calc(0.22 * 10px), 1rem, 10px);
}
