.question {
  padding: 15px;
  border: 1px solid black;
}

.questionHeader {
  margin-bottom: 10px;
}

.question:not(:last-child) {
  margin-bottom: 20px;
}

.questionWrapper {
  display: flex;
  column-gap: 10px;
}

.input {
  flex-grow: 1;
}
